body{
    background-color: rgb(211, 171, 211);
}

.form{
    width: 400px;
    background-color:white;
    margin: 10px auto; 
    padding: 50px 0px;
    border-radius: 10px;
}
.form h1{
    text-align: center;
}
.form form input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
}
.form form input[type="button"]{
    border: 1px solid blue;
    border-radius: 20px;
    width: 100%;
    background-color: blue;
}
.form form{
    padding:20px;
}
p{
    text-align: center;
}